<link rel="stylesheet" href="department.component.scss" xmlns="http://www.w3.org/1999/html">
<app-header></app-header>

<div class="main-content" [ngClass]="{'is-blurred': isDialogOpen}">

  <section id="sp-page-title" *ngIf="this.department">
    <div class="row">
      <div id="sp-title" class="col-sm-12 col-md-12">
        <div class="sp-column ">
          <div class="sp-page-title">
            <div class="container">
              <div class="col-md-6 col-sm-6 col-xs-12 pull-left" style="margin-top: 10px">
                <h4>{{this.department.departmentName}}</h4>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 pull-right text-right path">
                <ol class="breadcrumb">
                  <span>Ви тут:&nbsp;</span>
                  <li>
                    <a href="/main" class="pathway">Головна </a>
                  </li>
                  <li class="active">
                    / {{this.department.departmentName}}
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="services" *ngIf="this.department">
    <div class="container">
      <div class="title">
        <h4>{{this.department.departmentName}}</h4>
      </div>
      <img src="../../../assets/gastroenterology.jpg" alt="gastroenterology.jpg" class="gastroenterology">
      <div class="services">
        <div class="services__item bgred">
          <h3>Години роботи</h3>
          <p>
            <span>Понеділок - П'ятниця</span>
            <span>{{this.department.schedule.startHour}}:00 – {{this.department.schedule.endHour}}:00</span>
          </p>
          <hr>
          <p>
            <span>Субота</span>
            <span>{{saturdayShedule}}</span>
          </p>
          <hr>
          <p><span>Неділя</span>
            <span>Вихідний</span>
          </p>
        </div>
        <div class="services__item bggreen">
          <h3>Лікар додому</h3>
          <p>
            Якщо у Вас немає можливості<br>
            відвідати нашу клініку<br>
            особисто - ви маєте змогу
            викликати спеціаліста МЕДХАУЗ
            прямо до дому. Ми<br>
            з радістю надамо Вам<br>
            консультації та необхідну<br>
            допомогу!
          </p>
          <a class="button" href="#">Зв'яжіться з нами</a>
        </div>
      </div>
      <h2>{{this.department.departmentName}} в Івано-Франківську</h2>
      <div class="text" [innerHTML]="department.description" id="text-desc">
      </div>
      <div>
        <div class="price-block-content" *ngIf="department.departmentServices.length!=0">
          <h5 class="services-header" (click)="hideServices()">
            Перелік послуг
            <span class="material-icons" *ngIf="!isServicesVisible else thenBlock">
              expand_more
            </span>
            <ng-template #thenBlock>
              <span class="material-icons">
              expand_less
            </span>
            </ng-template>
          </h5>
          <div class="services-block" *ngIf="isServicesVisible">
            <div class="sppb-panel" *ngFor="let s of department.departmentServices">
              <span class="sppb-panel-title" aria-label="Гастроентерологія">{{s.service.name}}</span>
              <div class="price-block">
                <span class="sppb-panel-price" aria-label="Гастроентерологія">{{s.service.price}} грн</span>
              </div>
            </div>
          </div>
        </div>
        <div class="record-block">
          <button type="button" class="btn btn-primary record-button" (click)="addRecordDialogOpen()">Записатись на
            прийом
          </button>
        </div>


      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
