body {
  padding: 0;
  margin: 0;
}

.is-blurred {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

div {
  box-sizing: border-box;

  padding-right: 0;
  padding-left: 0;
}
.main-content{
  margin-bottom: 100px;
}
.container {
  width: 1200px;
  border: 10px;
  margin: 0 auto;
}

.gastroenterology {
  // margin-bottom: 100px;
  margin-top: 200px;
}

.services {
  margin-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin-top: -462.5px;
}

.services__item h3 {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 5px;
}

.services__item p {
  margin-top: 15px;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.55em;
  display: flex;
  justify-content: space-between;
}

#services {
  //padding-left: 1000px;
  padding-bottom: 100px;
  // padding-top: 115px;
}

.services__item {
  margin-top: 20px;
  width: 270px;
  border-radius: 20px;
  float: left;
  text-align: left;
  padding: 20px;
}

.bggreen {
  background-color: #191970;
}

.bgred {
  background: #FFA500;
}

hr {
  border: none;
  color: white; /* Цвет линии для остальных браузеров */
  background-color: white;
  height: 2px; /* Толщина линии */
}

.button {
  background-color: #800080;
  color: white;
  border-radius: 3px;
  display: block;
  width: 200px;
  padding: 20px 0;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-top: 50px;

  &:hover {
    background-color: #79c179;
    transition-duration: 0.5s;
  }
}

h2 {
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-align: Left;
  margin-top: -180px;
}

strong {
  font-weight: 700;
}

.text {
  font-size: 16px;
}

#sp-page-title {
  margin-top: 80px;
  padding: 5px;
  padding-bottom: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #b4d8e8;
  border-radius: 3px;
}

li {
  padding-left: 5px;
}

h4 {
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 1rem;
  margin: 5px 0px;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.title h4 {
  margin-top: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: -150px;
}

h5 {
  margin-top: 75px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 35px;
}

//
//  .sppb-divider-border {
//    margin-top: 30px;
//    margin-bottom: 30px;
//    border-bottom-width: 1px;
//    border-bottom-style: solid;
//    border-bottom-color: #567b24;
//
//}
//.sppb-addon-accordion {
//  margin-bottom: 10px;
//  border: 1px solid #ddd;
//}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sppb-toggle-direction {
  color: #ccc;
}

.sppb-panel {
  justify-content: space-between;
  margin: 5px auto;
  display: flex;
  border-width: 1px;
  border-color: #e4e4e4;
  border-style: solid;
  background: white;
  color: #000000;
  border-radius: 6px;
  width: 300px;
  cursor: pointer;
  position: relative;
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  transition-duration: 0.5s;

  &:hover {
    background-color: #ffbdbd;
  }
}

.sppb-toggle-direction {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%) rotate(0);
  transform: translateY(-50%) rotate(0);
  -webkit-transition: transform .3s;
  transition: transform .3s;
}

.sppb-panel-price {
  font-weight: 500;
}

.price-block {
  width: 25%;
  background-color: #ff090914;
  padding: 6px 0px;
  text-align: center;
  border-radius: 7px;
  border: 1px solid #dadada;
 }

.sppb-panel-title {
  margin: auto;
  padding: 6px 0px;
}

.services-header {
  &:hover {
    cursor: pointer;
  }
}
.price-block-content{
  margin: 70px 0px;
}
.services-block {
  width: fit-content;
  margin: auto;
  border: 1px solid #cccaca;
  padding: 10px;
  border-radius: 10px;
  background-color: #ccefff;
  transition-duration: 0.5s;
}
.record-button{
  font-size: 16pt;
  padding: 10px 30px;
  border-radius: 7px;
  width: 300px;
}
.record-block{
  text-align: center;
}
