<form [formGroup]="pageForm" (submit)="onSubmit()">

  <div class="form-group">
    <label for="name">Назва</label>
    <input type="text" formControlName="name" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="description">Опис</label>
    <input type="text" formControlName="description" class="form-control" id="description">
  </div>
  <div class="form-group">
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
    <button type="button" class="btn btn-success" style="width: 150px" (click)="file.click()">Upload File</button>
    <span class="file-name-text">
      {{filename}}
    </span>
  </div>
  <div class="form-group ">
    <mat-form-field appearance="fill" class="formElement">
      <mat-label>Адреса</mat-label>
      <mat-select [(value)]="selAddress">
        <mat-option *ngFor="let d of addresses" [value]="d">
          {{d.region}},{{d.city}}. вул.{{d.street}}, буд. {{d.houseNumber}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="fill" class="formElement">
      <mat-label>Графік</mat-label>
      <mat-select [(value)]="selSchedule">
        <mat-option *ngFor="let ds of schedules" [value]="ds">
          {{ds.startHour}}-{{ds.endHour}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field appearance="fill" class="formElement">
      <mat-label>Послуги</mat-label>
      <mat-select multiple (selectionChange)="changed($event)">
        <mat-option *ngFor="let ds of services"  [value]="ds">
          {{ds.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group buttons-group">
    <button type="button" class="btn btn-dark form-button close-btn" (click)="close(false)">
      Відміна
    </button>
    <button type="submit" class="btn btn-success form-button save-btn">
      Створити
    </button>
  </div>
</form>
