<div class="dialog-content">

  <div class="main-content">
    <div class="form-header">
      <h1>Зміна паролю</h1>
    </div>
    <div class="form-content">
      <form [formGroup]="pageForm" (submit)="onSubmit()">

        <div class="form-group ">
          <mat-form-field appearance="standard" class="formElement">
            <mat-label>Старий пароль</mat-label>
            <input type="password" matInput formControlName="oldPassword">
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field appearance="standard" class="formElement">
            <mat-label>Новий пароль</mat-label>
            <input type="password" matInput formControlName="newPassword">
          </mat-form-field>
        </div>

        <div class="form-group buttons-group">
          <button type="button" class="btn btn-dark form-button close-btn" (click)="close(false)">
            Відміна
          </button>
          <button type="submit" class="btn btn-success form-button save-btn">
            Змінити
          </button>
        </div>
      </form>
    </div>

  </div>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
</div>
