<section class="cabinet-content" [ngClass]="{'is-blurred': isDialogOpen}">
  <app-cabinet-header></app-cabinet-header>
  <mat-drawer-container class="example-container cabinet-drawer-container">
    <mat-drawer mode="side" opened>
      <app-cabinet-nav></app-cabinet-nav>
    </mat-drawer>
    <mat-drawer-content *ngIf="this.pageForm" >
      <div class="container-fluid">
        <div class="row">
          <main role="main" class="col-md-9  col-lg-10 px-md-4">
            <div class="chartjs-size-monitor"
                 style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
              <div class="chartjs-size-monitor-expand"
                   style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0;"></div>
              </div>
              <div class="chartjs-size-monitor-shrink"
                   style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
              </div>
            </div>
            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Налаштування</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
                <!--            <div class="btn-group mr-2">-->
                <!--              <button type="button" class="btn btn-sm btn-outline-secondary">Загрузити</button>-->
                <!--              <button type="button" class="btn btn-sm btn-outline-secondary">Вигрузити</button>-->
                <!--            </div>-->
                <!--            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
                <!--              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>-->
                <!--              This week-->
                <!--            </button>-->

              </div>
            </div>
            <form [formGroup]="pageForm" (submit)="onSubmit()">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input type="email" class="form-control" formControlName="email" id="inputEmail4">
                  <br>
                </div>
                <div class="form-group col-md-6">
                  <br>
                  <button type="button" class="btn btn-danger" (click)="changePassword()">Змінити пароль</button>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Імя</label>
                <input type="text" formControlName="firstName" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="surname">Прізвище</label>
                <input type="text" class="form-control" formControlName="lastName" id="surname">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">Вік</label>
                  <input type="text" class="form-control" formControlName="age" id="inputCity">
                </div>
                <div class="form-group">
                  <label for="inputState">UserName</label>
                  <input type="text" class="form-control" formControlName="userName" id="inputState">
                </div>
                <div class="form-group">
                  <label for="inputZip">Номер телефону</label>
                  <input type="text" class="form-control" formControlName="phoneNumber" id="inputZip">
                </div>
              </div>
              <button type="button" class="btn btn-primary" (click)="toogleForm()">Змінити</button>
              <button type="submit" class="btn btn-success"  *ngIf="isFormEnabled">Зберегти</button>
            </form>
          </main>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</section>
