element.style {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
}

.p-0 {
  padding: 11px !important;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.sidebar .nav-link:hover {
  color: #007bff;
}

.form-row {
  width: 33.5%;
}

.form-group {
  width: 33%;
}

.is-blurred {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.user-picture{
  width: 440px;
  height: 530px;
  border-radius: 360px;
}
