<section class="cabinet-content">
  <app-cabinet-header></app-cabinet-header>
  <mat-drawer-container class="example-container cabinet-drawer-container">
    <mat-drawer mode="side" opened>
      <app-cabinet-nav></app-cabinet-nav>
    </mat-drawer>
    <mat-drawer-content>
      <div class="container-fluid">
        <main role="main" class="col-md-9 col-lg-10 px-md-4 main-comp">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Профіль</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
          </div>
          <div class="row" *ngIf="user">
            <div class="col-lg-4">
              <div class="photo-block">
              <img [src]="getLinkPicture()"  id="user-photo" class="user-picture">
              </div>
              <h2>{{user.firstName}} {{user.lastName}}</h2>
              <p *ngIf="user.department">{{user.department.departmentName}} </p>
              <div class="upload-button-block">
                <app-upload-helper (uploadFinished)="uploadFinished($event)"></app-upload-helper>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="profile-info">
                    <h2 class="profile-info-title">
                      Email
                    </h2>
                    <p>
                      test@gmail.com
                    </p>
                  </div>
                  <div class="profile-info">
                    <h2 class="profile-info-title">
                      Email
                    </h2>
                    <p>
                      test@gmail.com
                    </p>
                  </div>
                  <div class="profile-info">
                    <h2 class="profile-info-title">
                      Email
                    </h2>
                    <p>
                      test@gmail.com
                    </p>
                  </div>
                  <div class="profile-info">
                    <h2 class="profile-info-title">
                      Email
                    </h2>
                    <p>
                      test@gmail.com
                    </p>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="profile-info">
                    <h2 class="profile-info-title">
                      Email
                    </h2>
                    <p>
                      test@gmail.com
                    </p>
                  </div>
                  <div class="profile-info">
                    <h2 class="profile-info-title">
                      Email
                    </h2>
                    <p>
                      test@gmail.com
                    </p>
                  </div>
                  <div class="profile-info">
                    <h2 class="profile-info-title">
                      Email
                    </h2>
                    <p>
                      test@gmail.com
                    </p>
                  </div>
                  <div class="profile-info">
                    <h2 class="profile-info-title">
                      Email
                    </h2>
                    <p>
                      test@gmail.com
                    </p>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-4">
              <svg class="bd-placeholder-img rounded-circle" width="150" height="150"
                   xmlns="http://www.w3.org/2000/svg"
                   preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                   aria-label="Placeholder: 140x140">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777"></rect>
                <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
              </svg>
              <h2>Міша Дубровський</h2>
              <p>Опис якийсь я хуй зна який </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details »</a>
                <a class="btn btn-primary" href="#" role="button">View details »</a>
              </p>
            </div>
          </div>


          <!--<div class="chartjs-size-monitor"
               style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand"
                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0;"></div>
            </div>
            <div class="chartjs-size-monitor-shrink"
                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
          </div>-->
          <!--  <form [formGroup]="pageForm">-->
          <!--              <div class="form-group">-->
          <!--                <label for="name">Імя</label>-->
          <!--                <input type="text" class="form-control" id="name">-->
          <!--              </div>-->
          <!--              <div class="form-group">-->
          <!--                <label for="surname">Прізвище</label>-->
          <!--                <input type="text" class="form-control" id="surname">-->
          <!--              </div>-->
          <!--              <div class="form-row">-->
          <!--                <div class="form-group col-md-6">-->
          <!--                  <label for="inputCity">Місто</label>-->
          <!--                  <input type="text" class="form-control" id="inputCity">-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </form>-->
        </main>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</section>

