element.style {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
}

.p-0 {
  padding: 11px !important;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

a {
  text-decoration: none;
  //background-color: transparent;
  margin-right: 10px;
}

.sidebar .nav-link:hover {
  color: #007bff;
}

.form-group {
  width: 100%;
}

.form-row {
  width: 100%;
}

.main-comp {
  margin: 10px 30px;
}
.col-lg-4{
  text-align: center;
}
.profile-img{
  width: 160px;
  border-radius: 50%;
}
.user-picture{
  height: 100%;
  width: 100%;
  border-radius: 5%;
  border: 3px solid #bcbcbc;
}
.photo-block{
  height: 280px;
  width: 280px;
  padding: 5px;
  margin: auto;
}
.upload-button-block{
  display: flex;
  justify-content: center;
}
