<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow my-header">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Особистий кабінет</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
          data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="nav-list">
    <li class="nav-list-item ">
      <a class="nav-list-link" [routerLink]="['/']">На головну</a>
    </li>
    <li class="nav-list-item ">
      <a class="nav-list-link" [routerLink]="['/']" (click)="logOut()">Вийти з системи</a>
    </li>
  </ul>
</nav>
