<section class="cabinet-content">
  <app-cabinet-header></app-cabinet-header>
  <mat-drawer-container class="example-container cabinet-drawer-container">
    <mat-drawer mode="side" opened>
      <app-cabinet-nav></app-cabinet-nav>
    </mat-drawer>
    <mat-drawer-content>
      <div class="container-fluid">
        <main role="main" class="col-md-9 col-lg-10 px-md-4 main-comp">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Керування системою</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
          </div>
        </main>
      </div>

      <mat-tab-group>
        <mat-tab label="Відділи">
          <ng-template matTabContent>
            <div class="page-buttons">

              <button class="btn btn-primary" (click)="addDepartmentFormOpen()">Створити відділ</button>
              <button class="btn btn-dark" [ngClass]="{'clear-button' : needsUpdate[0]}" (click)="refreshTable(1)">
                Refresh
              </button>
            </div>
            <div class="my-table" *ngIf="departments">
              <table mat-table [dataSource]="departments" class="mat-elevation-z8" #TableOne
                     style="width: 100%;">

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef width="20%"> Id</th>
                  <td mat-cell *matCellDef="let element"> {{element.id}}</td>
                </ng-container>

                <ng-container matColumnDef="depName">
                  <th mat-header-cell *matHeaderCellDef width="20%"> Назва</th>
                  <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef width="10%">Керування</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-flat-button color="warn" (click)="deleteItem(1,element.id)">
                      Видалити
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="depTableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: depTableColumns;"></tr>
              </table>
            </div>
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading" style="margin-top: 30px; height: 6px"></mat-progress-bar>
          </ng-template>
        </mat-tab>
        <mat-tab label="Користувачі">
          <ng-template matTabContent>
            <div class="page-buttons">

              <button class="btn btn-primary" (click)="addUserFormOpen()">Створити користувача</button>
              <button class="btn btn-dark" [ngClass]="{'clear-button' : needsUpdate[1]}" (click)="refreshTable(2)">
                Refresh
              </button>
            </div>
            <div class="my-table" *ngIf="users">
              <table mat-table [dataSource]="users" class="mat-elevation-z8" #TableOne
                     style="width: 100%;">

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef width="5%"> Id</th>
                  <td mat-cell *matCellDef="let element"> {{element.id.substring(0, 6)}}...</td>
                </ng-container>

                <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef width="15%"> Імя</th>
                  <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                  <th mat-header-cell *matHeaderCellDef width="15%"> Прізвище</th>
                  <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="userName">
                  <th mat-header-cell *matHeaderCellDef width="15%"> Нікнейм</th>
                  <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef width="15%"> E-mail</th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="phone">
                  <th mat-header-cell *matHeaderCellDef width="20%"> Тел.</th>
                  <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="age">
                  <th mat-header-cell *matHeaderCellDef width="5%"> Вік</th>
                  <td mat-cell *matCellDef="let element"> {{element.age}} </td>
                </ng-container>

                <ng-container matColumnDef="role">
                  <th mat-header-cell *matHeaderCellDef width="5%"> Роль</th>
                  <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef width="10%">Керування</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-flat-button color="warn" (click)="deleteItem(2,element.id)">
                      Видалити
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="userTableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: userTableColumns;"></tr>
              </table>
            </div>
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading" style="margin-top: 30px; height: 6px"></mat-progress-bar>
          </ng-template>
        </mat-tab>
        <mat-tab label="Послуги">
          <ng-template matTabContent>
            <div class="page-buttons">
              <button class="btn btn-primary" (click)="addServiceFormOpen()">Створити послугу</button>
              <button class="btn btn-dark" [ngClass]="{'clear-button' : needsUpdate[2]}" (click)="refreshTable(3)">
                Refresh
              </button>
            </div>


            <div class="my-table" *ngIf="services">
              <table mat-table [dataSource]="services" class="mat-elevation-z8" #TableOne
                     style="width: 100%;">

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef width="20%"> Id</th>
                  <td mat-cell *matCellDef="let element"> {{element.id}}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef width="20%"> Назва</th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef width="20%"> Ціна</th>
                  <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef width="10%">Керування</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-flat-button color="warn" (click)="deleteItem(3,element.id)">
                      Видалити
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="serviceTableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: serviceTableColumns;"></tr>
              </table>
            </div>
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading" style="margin-top: 30px; height: 6px"></mat-progress-bar>

          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-drawer-content>
  </mat-drawer-container>
</section>
