.my-table{
  //width: 70%;
  margin-top: 30px;
}
.clear-button{
  background-color: #ffc50c;
  color: black;
}
.btn{
  transition-duration: 0.7s;
}
.page-buttons{
  display: flex;
  justify-content: space-between;
  margin: 0px 30px;
  margin-top: 20px;
}
.btn-dark{
   padding: 0px 200px;
}
