.formElement{
  width: 300px;
}
.form-content{
  text-align: center;
}
.form-header{
  text-align: center;
}
.main-content{
  margin: 0 50px;
}
.buttons-group{
  display: flex;
  justify-content: space-around;
}
.form-button{
  width: 100px;
  height: 40px;
}
.close-btn{

}
.save-btn{

}
