<footer class="footer">
  <div class="container">
    <div class="footer-body">
      <nav class="footer-menu">
        <ul class="menu-points-list">
          <li>
            <a href="#" class="footer-link">Головна</a>
          </li>
          <li>
            <a [routerLink]="['vocabulary/4']" class="footer-link">Послуги</a>
          </li>
          <li>
            <a href="#" class="footer-link">Ціни</a>
          </li>
          <li>
            <a href="#" class="footer-link">Лікарі</a>
          </li>
          <li>
            <a href="#" class="footer-link">Контакти</a>
          </li>
          <li>
            <a href="#" class="footer-link">Про нас</a>
          </li>
        </ul>
      </nav>
    </div>
    <p id="copyright-text">© 2020 MedClinical. All rights reserved. </p>

  </div>
</footer>
