<footer class="footer">
  <div class="container">
    <div class="footer-body">
      <nav class="footer-menu">
        <ul class="menu-points-list">
          <li>
            <a [routerLink]="['/main']" class="footer-link">Головна</a>
          </li>
          <li>
            <a [routerLink]="['/departments']" class="footer-link">Відділи</a>
          </li>
          <li>
            <a [routerLink]="['/doctors']" class="footer-link">Лікарі</a>
          </li>
          <li>
            <a href="#" class="footer-link">Про клініку</a>
          </li>
          <li>
            <a [routerLink]="['/account/cabinet']" class="footer-link">Мій кабінет</a>
          </li>
          <li>
            <a href="#" class="footer-link">Контакти</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <p id="copyright-text">© 2020 Наша клініка. Всі права захищено. </p>

</footer>
