<section class="cabinet-content">
  <app-cabinet-header></app-cabinet-header>
  <mat-drawer-container class="example-container cabinet-drawer-container">
    <mat-drawer mode="side" opened>
      <app-cabinet-nav></app-cabinet-nav>
    </mat-drawer>
    <mat-drawer-content>
      <div class="container-fluid">
        <div class="row">
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="chartjs-size-monitor"
                 style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
              <div class="chartjs-size-monitor-expand"
                   style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0;"></div>
              </div>
              <div class="chartjs-size-monitor-shrink"
                   style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
              </div>
            </div>
            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Технічна підтримка</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
                <!--            <div class="btn-group mr-2">-->
                <!--              <button type="button" class="btn btn-sm btn-outline-secondary">Загрузити</button>-->
                <!--              <button type="button" class="btn btn-sm btn-outline-secondary">Вигрузити</button>-->
                <!--            </div>-->
                <!--            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
                <!--              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>-->
                <!--              This week-->
                <!--            </button>-->
              </div>
            </div>
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1">Ваша електронна адреса</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Виберіть одну з причин фидбеку</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1.</option>
                  <option>2.</option>
                  <option>3.</option>
                  <option>4.</option>
                  <option>5.</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect2">Причини вашої проблеми</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                  <option>1.блаблабла</option>
                  <option>2.мені в падлу більше писати</option>
                  <option>3.потім подумаєм</option>
                  <option>4.а то голова не варить</option>
                  <option>5.скр скр скр</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Текст</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <button type="button" class="btn btn-primary">Відправити</button>
            </form>
          </main>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</section>
