<app-header></app-header>

<section id="services">
  <div class="container">
    <div class="title">

    </div>

    <div class="services">
      <div class="services__item bggreen">
        <h3>Сучасне обладнання</h3>
        <p>
          Високоточна медична техніка від
          <br> найкращих світових виробників
        </p>
        <a class="button" href="#">Детальніше</a>
      </div>
      <div class="services__item bgred">
        <h3>Години роботи клініки</h3>
        <p>
          <span>Понеділок - П'ятниця</span>
          <span>8:00 – 19:00</span>
        </p><hr>
        <p>
          <span>Субота</span>
          <span>9:00 – 16:00</span>
        </p><hr>
        <p><span>Неділя</span>
          <span>Вихідний</span>
        </p>

      </div>
      <div class="services__item bgbrown">
        <h3> Лабораторні дослідження</h3>
        <p>
          Для забезпечення точної діагностики
        </p>
        <a class="button" href="#">Детальніше</a>
      </div>
    </div>
  </div>
</section>

<section id="one">
  <div class="container">
    <div class="title">
      <h2>
        Наші основні клінічні програми
      </h2>
    </div>
    <div class="program">
      <div class="program__item ">
        <h3>Пластична хірургія</h3>
        <p>
          Трансформація тіла для вашої впевненості
        </p>
      </div>
      <div class="program__item ">
        <h3>Косметологія</h3>
        <p>
          Турбота про вашу красу та молодість
        </p>
      </div>
      <div class="program__item ">
        <h3>Гінекологія</h3>
        <p>
          Найкраще піклування про жіноче здоров'я
        </p>
      </div>
      <div class="program__item ">
        <h3>Дерматологія</h3>
        <p>
          Позбавлення від проблем шкіри, волосся та нігтів
        </p>
      </div>

      <div class="program__item ">
        <h3>Травматологія</h3>
        <p>
          Діагностика та лікування травм опорно-рухового апарату
        </p>
      </div>
      <div class="program__item ">
        <h3>Урологія</h3>
        <p>
          Лікування та профілактика захворювань сечостатевої системи
        </p>
      </div>
      <div class="program__item ">
        <h3>Ендоскопія</h3>
        <p>
          Обстеження внутрішніх органів в середині організму
        </p>
      </div>
      <div class="program__item ">
        <h3>Інтимна пластика</h3>
        <p>
          Зміна гармонії та пропорції статевих органів
        </p>
      </div>

    </div>
  </div>
</section>



<app-footer></app-footer>




