body {
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  border: 10px;
  margin: 0 auto;
}

.title {


}

.title h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.title p {
  color: #777777;
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
}

.services {
  margin-top: 50px;
  display: flex;
}

.services__item h3 {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 5px;
}

.services__item p {
  margin-top: 15px;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.55em;
  display: flex;
  justify-content: space-between;
}

#services {
  padding-bottom: 120px;
  padding-top: 115px;
}

.services__item {
  width: 400px;
  float: left;
  text-align: left;
  padding: 50px;
}

.bggreen {
  background: darkgreen;
}

.bgred {
  background: darkred;
}

.bgbrown {
  background: brown;
}

hr {
  border: none;
  color: white; /* Цвет линии для остальных браузеров */
  background-color: white;
  height: 2px; /* Толщина линии */
}

.button {
  background: #fed136;
  color: #484543;
  border-radius: 3px;
  display: block;
  width: 240px;
  padding: 20px 0;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-top: 50px;
}

.program {
  flex-wrap: wrap;
  margin-top: 50px;
  display: flex;
  padding-bottom: 50px;

  .program__item {
    margin: 5px;
    float: left;
    padding: 20px;
    border-width: 1px;
    border-color: rgba(228, 228, 228, 1);
    border-style: solid;
    width: calc(25% - 10px);
    box-sizing: border-box;

    p {
      text-align: left;
      margin-top: 15px;
      font-size: 16px;
      line-height: 1.55em;
      display: flex;
      justify-content: space-between;
    }

    h3 {
      font-family: Lato, sans-serif;
      color: #567b24;
      font-size: 20px;
      text-align: center;
      margin-bottom: 5px;
    }
  }
}

#one {
  margin-bottom: 250px;
}


