<header class="header">
  <div class="container">
    <div class="header-body" [ngClass]="{'active' : burgerActive}">
      <a href="#" class="logo-text">
      </a>
      <div class="header-burger" [ngClass]="{'active': burgerActive}" (click)="burgerClick()">
        <span></span>
      </div>

      <nav class="header-menu" [ngClass]="{'active': burgerActive}">
        <ul class="menu-points-list">
          <li>
            <a [routerLink]="['/main']" class="header-link">Головна</a>
          </li>
          <li>
            <a [routerLink]="['/departments']" class="header-link">Відділи</a>
          </li>
          <li>
            <a [routerLink]="['/doctors']" class="header-link">Лікарі</a>
          </li>
          <li>
            <a href="#" class="header-link">Про клініку</a>
          </li>
          <li>
            <a [routerLink]="['/account/cabinet']" class="header-link">Мій кабінет</a>
          </li>
          <div class="login-buttons" *ngIf="!isUserAuthenticated">
            <li class="login-divider">
              <a [routerLink]="['/auth/login']" class="header-link auth-link">Вхід</a>
            </li>
            <li>
              <a [routerLink]="['/auth/registration']" class="header-link auth-link">Реєстрація</a>
            </li>
          </div>

          <div class="login-buttons" *ngIf="isUserAuthenticated">
            <li>
              <a (click)="logOut()" [routerLink]="['/']" class="header-link logout">Вихід</a>
            </li>
          </div>

        </ul>
      </nav>
    </div>
  </div>
</header>
