<section class="cabinet-content">
  <app-cabinet-header></app-cabinet-header>
  <mat-drawer-container class="example-container cabinet-drawer-container">
    <mat-drawer mode="side" opened>
      <app-cabinet-nav></app-cabinet-nav>
    </mat-drawer>
    <mat-drawer-content>
      <div class="container-fluid">
        <div class="row">
          <main role="main" class="col-md-9 col-lg-10 px-md-4">
            <div class="chartjs-size-monitor"
                 style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
              <div class="chartjs-size-monitor-expand"
                   style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0;"></div>
              </div>
              <div class="chartjs-size-monitor-shrink"
                   style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
              </div>
            </div>
            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Головна</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Оновити</button>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
      <div class="table-title">
        <h1>Майбутні записи</h1>
      </div>
      <hr>
      <div class="my-table" *ngIf="records">
        <table mat-table [dataSource]="records" class="mat-elevation-z8" #TableOne
               style="width: 100%;">

          <ng-container matColumnDef="doctor">
            <th mat-header-cell *matHeaderCellDef width="20%"> Лікар</th>
            <td mat-cell *matCellDef="let element"> {{element.doctor.firstName}} {{element.doctor.lastName}} </td>
          </ng-container>

          <ng-container matColumnDef="patient">
            <th mat-header-cell *matHeaderCellDef width="20%"> Пацієнт</th>
            <td mat-cell *matCellDef="let element"> {{element.patient.firstName}} {{element.patient.lastName}} </td>
          </ng-container>

          <ng-container matColumnDef="dateOfMeeting">
            <th mat-header-cell *matHeaderCellDef width="30%">Дата запису</th>
            <td mat-cell *matCellDef="let element"> {{element.dateOfMeeting | date: ' dd MMMM yyyy / HH:mm'}} </td>
          </ng-container>

          <ng-container matColumnDef="dateOfRecord">
            <th mat-header-cell *matHeaderCellDef width="20%">Дата створення</th>
            <td mat-cell *matCellDef="let element"> {{element.dateOfRecord | date: ' dd.MM.yyyy / HH:mm'}} </td>
          </ng-container>

          <ng-container matColumnDef="service">
            <th mat-header-cell *matHeaderCellDef width="10%">Послуга</th>
            <td mat-cell *matCellDef="let element"> {{element.service.name}} </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef width="10%"> Відміна</th>
            <td mat-cell *matCellDef="let element">
              <button mat-flat-button color="warn" (click)="deleteRecord(element.id)  ">
                Відмінити
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="table-title" style="margin-top: 80px;">
        <h1>Минулі записи</h1>
      </div>
      <hr>
      <div class="my-table expired-table" *ngIf="expiredRecords">
        <table mat-table [dataSource]="expiredRecords" class="mat-elevation-z8" #TableOneS
               style="width: 100%;">

          <ng-container matColumnDef="doctor">
            <th mat-header-cell *matHeaderCellDef width="20%"> Лікар</th>
            <td mat-cell *matCellDef="let element"> {{element.doctor.firstName}} {{element.doctor.lastName}} </td>
          </ng-container>

          <ng-container matColumnDef="patient">
            <th mat-header-cell *matHeaderCellDef width="20%"> Пацієнт</th>
            <td mat-cell *matCellDef="let element"> {{element.patient.firstName}} {{element.patient.lastName}} </td>
          </ng-container>

          <ng-container matColumnDef="dateOfMeeting">
            <th mat-header-cell *matHeaderCellDef width="30%">Дата запису</th>
            <td mat-cell *matCellDef="let element"> {{element.dateOfMeeting | date: ' dd MMMM yyyy / HH:mm'}} </td>
          </ng-container>

          <ng-container matColumnDef="dateOfRecord">
            <th mat-header-cell *matHeaderCellDef width="20%">Дата створення</th>
            <td mat-cell *matCellDef="let element"> {{element.dateOfRecord | date: ' dd.MM.yyyy / HH:mm'}} </td>
          </ng-container>

          <ng-container matColumnDef="service">
            <th mat-header-cell *matHeaderCellDef width="10%">Послуга</th>
            <td mat-cell *matCellDef="let element"> {{element.service.name}} </td>
          </ng-container>

          <ng-container matColumnDef="empty">
            <th mat-header-cell *matHeaderCellDef width="10%"> Відміна</th>
            <td mat-cell *matCellDef="let element">
              <button mat-flat-button color="warn" disabled="true">Відмінити</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</section>
