<link rel="stylesheet" href="department.component.scss">
<!--<app-header></app-header>-->


<section id="sp-page-title">
  <div class="row">
    <div id="sp-title" class="col-sm-12 col-md-12">
      <div class="sp-column ">
        <div class="sp-page-title">
        <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12 pull-left">
          <h4>Гастроентерологія</h4>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 pull-right text-right path">
        <ol class="breadcrumb">
          <span>Ви тут:&nbsp;</span>
          <li>
            <a href="/index.php" class="pathway">Головна </a>
          </li>
          <li class="active">
            / Гастроентерологія
          </li>
        </ol>
      </div>
      </div>
      </div>
      </div>

    </div>
  </div>
</section>


<section id="services">
  <div class="container">
    <div class="title">
    </div>
    <img src="../../../assets/gastroenterology.jpg" alt="gastroenterology.jpg" class="gastroenterology">
    <div class="services">
      <div class="services__item bgred">
        <h3>Години роботи</h3>
        <p>
          <span>Понеділок - П'ятниця</span>
          <span>8:00 – 19:00</span>
        </p>
        <hr>
        <p>
          <span>Субота</span>
          <span>9:00 – 16:00</span>
        </p>
        <hr>
        <p><span>Неділя</span>
          <span>Вихідний</span>
        </p>
      </div>
      <div class="services__item bggreen">
        <h3>Лікар додому</h3>
        <p>
          Якщо у Вас немає можливості<br>
          відвідати нашу клініку<br>
          особисто - ви маєте змогу
          викликати спеціаліста МЕДХАУЗ
          прямо до дому. Ми<br>
          з радістю надамо Вам<br>
          консультації та необхідну<br>
          допомогу!
        </p>
        <a class="button" href="#">Зв'яжіться з нами</a>
      </div>
    </div>
    <h2>Гастроентерологія в Івано-Франківську</h2>
    <div class="text">
      <p>
        <strong>Гастроентерологія</strong>
        – розділ медицини, який вивчає будову, функціонування, захворювання органів<br>шлункового-кишкового тракту.
      </p>
      <p>
        Ця галузь терапії спрямована на попередження захворювань органів травної системи та їх лікування. І саме<br>
        в МЦ «МЕДХАУЗ» ви зможете отримати максимально якісну консультацію та лікування від<br>
        висококваліфікованого лікаря-гастроентеролога.
      </p>
      <p>
        Наш фахівець виявляє і лікує захворювання:
      </p>
      <p>
        - стравоходу (гастроезофагально-рефлюксну хворобу);
      </p>
      <p>
        - шлунка (гастрит, виразка);
      </p>
      <p>
        - дванадцятипалої кишки (виразка, дуоденіт);
      </p>
      <p>
        - кишечника (неспецифічний виразковий коліт, хвороба Крона, синдром подразненого кишечника);
      </p>
      <p>
        - печінки;
      </p>
      <p>

      </p>

    </div>
  </div>
</section>


<app-footer></app-footer>




