
body {
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
  padding-right: 0;
  padding-left: 0;
}

.container {

  width: 1200px;
  border: 10px;
  margin: 0 auto;
}

.three-row{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.customs {
  padding-bottom: 100px;
  padding-top: 125px;
}

.services__item {
  padding: 15px;
  width: 28%;
  margin:25px 25px;

}
.services__item:hover .imgeffect-desc{
  transition: opacity 0.3s ease;
  opacity: 1;
}

.bgred {
  background: blue;
}
.imgeffect-title  {
 // word-spacing: -0.15em;
  line-height: 48px;
  color: #696969;
  text-transform: uppercase;
  font-size: 3em;

}
.imgeffect-desc{
  font-size: 1.1em;
  opacity: 0;
    line-height: 28px;
    color:#0000FF;
    text-transform: uppercase;
  }

