<!--<link rel="stylesheet" href="departments-list.component.scss" xmlns="http://www.w3.org/1999/html">-->
<app-header></app-header>


<section>
  <div class="container">
    <div class="customs">
      <div class="three-row">
        <div class="services__item bgred"style="background: url('../../assets/gastroenterology.jpg') no-repeat center center / cover ">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred"style="background: url('../../assets/dermatology.jpg') no-repeat center center / cover ">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred"style="background: url('../../assets/gynecology.jpg') no-repeat center center / cover ">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>
        <div class="services__item bgred">
          <div class="imgeffect-title">
            Гастро- ентерологія
          </div>
          <div class="imgeffect-desc">
            Консультації з питань
            гастроентерології
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<!--<app-footer></app-footer>-->

