<!--<link rel="stylesheet" href="departments-list.component.scss" xmlns="http://www.w3.org/1999/html">-->
<app-header></app-header>

<section>
  <div class="container">
    <div class="customs">
      <div class="three-row" *ngIf="departments">
        <div class="services__item" *ngFor="let d of departments">
          <div class="bg-image"></div>
          <div class="imgeffect-title" (click)="goToDepartment(d.id)">
            {{d.departmentName}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
<!--style="background: url('../../assets/gynecology.jpg') no-repeat center center / cover "-->
