body {
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
  padding-right: 0;
  padding-left: 0;
}

.container {
  border: 10px;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

#customs {
}

.customs {
  padding-bottom: 100px;
  padding-top: 125px;
  height: 100%;
}

.services__item {
  margin: 25px;
  width: 330px;
  float: left;
  text-align: left;
  padding: 125px;
  height: 250px;
  border: 3px solid #cfcfcf;
  border-radius: 15px;
  background: #688fb8;
}

.bggreen {
  background: darkgreen;
}

.bgred {
  background: darkred;
}

.bgbrown {
  background: #008080;
}

.bg1 {
  background: #0000FF;
}

.bg2 {
  background: #000000;
}

.bg3 {
  background: #CD853F;
}

.bg4 {
  background: #00FF00;
}

.bg5 {
  background: #FFFF00;
}

.bg6 {
  background: #FF00FF;
}

.bg7 {
  background: #DAA520;
}

#twenty {
  padding-left: 185px;
}

.figcaption {
  padding: 125%;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.imgeffect-title {
  padding: 10px 15px;
  width: 290px;
  position: relative;
  bottom: 40px;
  margin-top: -82px;
  margin-left: -105px;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  border: 6px solid white;
  border-radius: 9px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition-duration: 0.4s;

  &:hover {
    cursor: pointer;
    border-color: #434a76;
    background-color: #b1cdf7;
    color: black;
    border-radius: 11px;
  }
}

.imgeffect-desc {
  padding-right: -250px;
  margin-top: 10px;
  margin-left: -50px;
  // word-spacing: -0.15em;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 28px;
  /* line-height: 24px; */
  font-family: 'Open Sans';
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bg-image {

  width: 327px;
  height: 181px;
  position: relative;
  border-radius: 15px;
  top: -126px;
  right: 125px;
  /* filter: blur(2px); */
  background: #2b5876;
  //background: linear-gradient(to bottom, #4e4376, #2b5876);

}

.dep-photo{
height: 100%;
width: 100%;
border-radius: 15px;
}
