<!--<link rel="stylesheet" href="departments-list.component.scss" xmlns="http://www.w3.org/1999/html">-->
<app-header></app-header>

<section>
  <div class="container">
    <div class="customs">
      <div class="three-row">
        <figure class="imgeffect">
          <div class="services__item bgred">
            <div>
              <figcaption>
                <div class="imgeffect-title">
                  Гастро-<br>ентерологія
                </div>
                <div class="imgeffect-desc">
                  Консультації з питань
                  гастроентерології
                </div>
              </figcaption>
            </div>
          </div>
        </figure>
      </div>

      <div class="services__item bggreen">
      </div>

      <div class="services__item bgbrown">
      </div>
      <div class="six" id="six">
        <div class="services__item bg1">
        </div>

        <div class="services__item bg2">
        </div>

        <div class="services__item bg3">
        </div>
      </div>
      <div class="nine" id="nine">
        <div class="services__item bg4">
        </div>

        <div class="services__item bg5">
        </div>

        <div class="services__item bg6">
        </div>
      </div>
      <div class="twelve" id="twelve">
        <div class="services__item bg7">
        </div>

        <div class="services__item bggreen">
        </div>

        <div class="services__item bgbrown">
        </div>
      </div>
      <div class="fifteen" id="fifteen">
        <div class="services__item bgred">
        </div>

        <div class="services__item bggreen">
        </div>

        <div class="services__item bgbrown">
        </div>
      </div>
      <div class="eighteen" id="eighteen">
        <div class="services__item bgred">
        </div>

        <div class="services__item bggreen">
        </div>

        <div class="services__item bgbrown">
        </div>
      </div>
      <div class="twenty" id="twenty">
        <div class="services__item bgred">
        </div>

        <div class="services__item bggreen">
        </div>
      </div>
    </div>
  </div>
</section>

<!--<app-footer></app-footer>-->