<app-header></app-header>
<section>
  <div class="container">
    <div class="title">
      <div class="jumbotron">
        <div class="col-md-12">
          <h1 class="display">Ласкаво просимо до MedHouse</h1>
          <p class="lead my-3">Сучасний медичний центр європейського рівня, де передусім цінують особисте ставлення та
            турботу про пацієнтів та індивідуальний підхід.</p>
          <p class="lead-footer">Ми завжди раді прийти Вам на допомогу у будь який час!</p>
        </div>

      </div>
      <div class="row mb-2">
        <div class="col-md-6">
          <div
            class="row no-gutters border ">
            <div class="col p-4">
              <strong class="title" id="first">ХТО МИ?</strong>
              <h3 class="mb-0">Ми команда професіоналів закоханих у свою справу</h3>
              <p>Понад 25 висококваліфікованих лікарів та медичних співробітників різних напрямків, з багаторічним досвідом та бездоганною репутацією. Більш ніж 20 клінічних програм, від складної діагностики і лікування до реабілітації та турботи про вашу красу.</p>
              <img src="/assets/doctors.jpg" class="img-doctor">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row no-gutters border">
            <div class="col p-4">
              <strong class="title" id="second">ЧИМ МИ ЗАЙМАЄМОСЬ</strong>
              <h3 class="info">Наша місія - якісне медичне обслуговування в Івано-Франківську, що відповідає світовим стандартам.</h3>
              <p class="text-p">-Інноваційні технології діагностування<br>
                -Ефективне лікування на основі найсучасніших досліджень</p>
              <img src="/assets/img-doctors.jpg" class="img-doctor">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
