<div class="content" style="display: grid;"></div>
<app-header></app-header>
<section style="margin-bottom: 100px; margin-top: 110px;">
  <div class="container" [ngClass]="{'is-blurred': isDialogOpen}">
    <div class="sppb-panel" *ngFor="let dep of departments">
      <button class="record-button" (click)="openDialog(dep)" mat-flat-button color="warn">Записатись</button>
      <div class="title-Med" id="title-Med" (click)="toogleBlock(dep)" >
        <span class="sppb-panel-title dep-title" aria-label="Medhouse">{{dep.departmentName}}</span>
      </div>

      <div class="container doctors_block" [ngClass]="{'expanded' : dep.isVisible}">
        <div class="customs">
          <div class="three-row">
            <div class="services__item" *ngFor="let u of dep.doctors">
              <div class="photo-block">
                <img [src]="getLinkPicture(u.id)"  id="user-photo" class="user-picture">
                <div class="imgeffect-desc">
                  {{u.firstName}} {{u.lastName}}<br>
                  Лікар-УЗД
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
