<app-header></app-header>
<section>
  <div class="container">
    <div class="sppb-panel" *ngFor="let dep of departments">
      <div class="title-Med" id="title-Med" (click)="toogleBlock(dep)">

        <span class="sppb-panel-title" aria-label="Medhouse">{{dep.departmentName}}</span>
        <span class="sppb-toggle-direction" aria-label="Toggle Direction Icon 13" id="arrow">
        <i class="fa fa-chevron-right" aria-hidden="true">
        </i>
        </span>
      </div>

      <div class="container doctors_block" [ngClass]="{'expanded' : dep.isVisible}">
        <div class="customs">
          <div class="three-row">
            <div class="services__item bgred" *ngFor="let u of dep.doctors">
              <div class="imgeffect-desc">
                {{u.firstName}} {{u.lastName}}<br>
                Лікар-УЗД
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<app-footer></app-footer>-->
