
body {
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
  padding-right: 0;
  padding-left: 0;
}

.container {

  width: 1200px;
  border: 10px;
  margin: 0 auto;
}

.title-Med {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  background-color: #bce0f1;
  transition-duration: 0.4s;
  &:hover{
    background-color: #91d4f4;
  }
}

.sppb-panel {
  margin: 100px 0px;
  //margin-left: 300px;
  // margin-right: 300px;
  border-width: 1px;
  border-color: rgba(228, 228, 228, 1);
  border-style: solid;
  background: #f9f9f9;
  color: #3f424d;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  display: grid;
}

.sppb-toggle-direction {
  float: right;
  color: #ccc;
  transition: transform .3s;
}

.three-row {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customs {
  padding-bottom: 150px;
  padding-top: 25px;
}

.doctors_block {
  transition: height .3s;
  height: 0px;
  overflow: hidden;
}

.expanded {
  height: 500px;
}

.services__item {
  display: flex;
  align-items: flex-end;
  height: 400px;
  //padding-right: 15px;
  //padding-left: 15px;
  width: 31%;
  margin: 10px 10px;

}

.services__item:hover .imgeffect-desc {

  transition: opacity 0.3s ease;
  opacity: 1;
}

.bgred {
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #4e4376, #2b5876); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.imgeffect-desc {
  width: 98%;
  position: relative;
  border-radius: 5px;
  text-align: center;
  background: green;
  font-size: 0.8em;
  opacity: 0;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: -59px;
  right: -3px;
}
.dep-title{
  font-size: 20pt;
}
.record-button{
background-color: #65ac38;
}
.is-blurred {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.user-picture{
  height: 100%;
  width: 100%;
  border-radius: 2%;
  border: 3px solid #dfdfdf;
}
.photo-block{
  height: 100%;
  width: 85%;
  padding: 5px;
  margin: auto;
}
